/* Fuentes 
1: font-family: 'Roboto', sans-serif; 
2: font-family: 'Indie Flower', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Variables colores */

:root {
    --color-1: #B4CFEA;
    --color-2: #A0AFC5;
    --color-3: #1916A5;
    --color-4: #110C66;
    --color-5: #6F8DAC;
    --color-6: #4D56B9;
    --color-7: #AA7278;
    --color-8: #00a2e8;
    --fuente1:'Roboto', sans-serif;
    --fuente2:'Indie Flower', 'cursive';
}



.formProductos {
    
    border-radius: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-1);
    padding-left: 200px;
    text-align: center;
    
}

.formProductos .form-group {
    margin-left:150px

}

.formProductos button {
    margin-top:8px;
}

.interfazCrud {
    width: 100%;
    padding: 2%;
    font-family: 'Roboto', sans-serif;

}


#btn-enviar {
   margin-top:2%;
    background-color: var(--color-8);
}



.tablaProductos {
    text-align: center;
}


.tablaProductos {
    width:100%;
    padding:1%;
    border:solid black 1px

}

.tablaProductos tr {
    margin:2%;
    border:solid black 1px;
    padding:2%;
    

}

#btnEstadisticas{
    border-radius: 1em;
    background-color: var(--color-8);
    padding: 0.5em;
}

#gestionP{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btnEstadisticas span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #btnEstadisticas span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #btnEstadisticas:hover span {
    padding-right: 10px;
    color: var(--color-1);
  }
  
  #btnEstadisticas:hover span:after {
    opacity: 1;
    right: 0;
  }

  .titulo-crud, .titulo-lista {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    color: var(--color-8);
    text-shadow: 2px 2px 2px var(--color-1);
    margin: 10px;
  }