/* Fuentes 
1: font-family: 'Roboto', sans-serif; 
2: font-family: 'Indie Flower', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Variables colores */

:root {
    --color-1: #B4CFEA;
    --color-2: #A0AFC5;
    --color-3: #1916A5;
    --color-4: #110C66;
    --color-5: #00a2e8;
    --color-6: #4D56B9;
    --color-7: #AA7278;
}

/* MOBILE FIRST */

/* DESKTOP */

.titulo-graficos{
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    color: var(--color-8);
    text-shadow: 2px 2px 2px var(--color-1);
    margin: 10px;
}

.graficos{
    margin: 5vh 10vw 3vh 10vw;
    font-size: 14px;
    /* background-color: var(--color-7); */
    padding: 50px;
}

.grafico{
    width: 40vw;
    height: 70vh;
    padding: 20px;
}

.contenedor-graficos {
    text-align: center;
    padding-left: 100px;
}