/* Normalize */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuentes 
1: font-family: 'Roboto', sans-serif; 
2: font-family: 'Indie Flower', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Variables colores */

:root {
    --color-1: #B4CFEA;
    --color-2: #A0AFC5;
    --color-3: #1916A5;
    --color-4: #110C66;
    --color-5: #6F8DAC;
    --color-6: #4D56B9;
    --color-7: #AA7278;
}

/* MOBILE FIRST */

/* Login */
.contenedorLogin{
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* background-image: url(https://res.cloudinary.com/academia-geek/image/upload/v1633882475/fondo_mgmhf3.png); */
    /* background-image: url(https://res.cloudinary.com/academia-geek/image/upload/v1633884363/fondo2_hwzxht.png); */
    background-image: url(https://res.cloudinary.com/academia-geek/image/upload/v1633885429/fondo3_cxmvfa.png);
    background-size: cover;
}

.contenedor-login{
    padding: 50px 20px;
}

.titulo-login{
    font-family: 'Indie Flower', cursive;
    color: var(--color-4);
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 2px var(--color-6);
}

.contenedor-login form{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    /* background: linear-gradient(var(--color-7), var(--color-2)); */
    /* background: linear-gradient(to right, #72afec, #fa8994); */
    background: transparent;
    /* opacity: 0.5; */
}

.boton-login-continuar{
    margin: 20px 0;
    padding: 4px 10px;
    font-size: 20px;
    border-radius: 8px;
    background: linear-gradient(to right, var(--color-5), var(--color-3));    
    color: #fff;
    border: none;
}

.boton-login-continuar:hover{
    background: var(--color-7);
}

.boton-login-google{
    margin: 20px 0;
    /* background: linear-gradient(to right, var(--color-4), var(--color-7));     */
    border: 2px solid var(--color-4);
    background: transparent;
    color: var(--color-4);
    font-weight: 900;
    cursor: pointer;
}

.boton-google-pointer{
    cursor: pointer;
}

.enlace-login-registrarse{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    background: linear-gradient(to right, var(--color-5), var(--color-3));    
    color: var(--color-1);
    padding: 4px 10px;
    border-radius: 8px;
}

.enlace-login-registrarse:hover{
    background: var(--color-7);
    color: #fff;
}

.icono-login-redes{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px 1px var(--color-4);
}

/* TABLETS */

@media screen and (min-width: 600px) {
    .contenedor-login{
        padding: 50px 150px;
    }
}

/* DESKTOP */

@media screen and (min-width: 1000px) {
    .contenedor-login{
        padding: 50px 400px;
    }
}

@media screen and (min-width: 1200px) {
    .contenedor-login{
        padding: 50px 500px;
    }
}