/* Fuentes 
1: font-family: 'Roboto', sans-serif; 
2: font-family: 'Indie Flower', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Variables colores */

:root {
    --color-1: #B4CFEA;
    --color-2: #A0AFC5;
    --color-3: #1916A5;
    --color-4: #110C66;
    --color-5: #6F8DAC;
    --color-6: #4D56B9;
    --color-7: #AA7278;
    --color-8: #00a2e8;
    --fuente1:'Roboto', sans-serif;
    --fuente2:'Indie Flower', 'cursive';
}

/* MOBILE FIRST */

/* DESKTOP */
body {
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

.contenedor-elegir-tienda {
    min-height: 84.5vh;
}

.contenedor-enunciado {
    text-align: center;
    padding: 20px 0;
}

.enunciado-titulo {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    color: var(--color-8);
}

.enunciado-titulo-span {
    font-size: 34px;
    font-weight: 900;
    color: var(--color-8);
    text-shadow: 2px 2px 2px var(--color-1);
}

.contenedor-list-map {
    display: grid;
    grid-template-columns: 45vw 55vw;
    gap: 15px;
}

#mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tabla-tiendas {
    margin: 15px 50px;
    padding: 20px;
    text-align: center;
}

.encabezado-tabla {
    font-size: 26px;
    text-align: center;
    font-weight: 24px;
}

.cabecera-tabla th {
    padding: 10px 50px;
    font-size: 18px;
    border-top: 1px double rgb(143, 141, 141);
    border-bottom: 1px double rgb(143, 141, 141);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.enlace-tienda{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

.enlace-tienda:hover{
    font-weight: 900;
}

.cuerpo-tabla {
    padding: 20px 0;
    color: #777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pie-tabla-mensaje{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pie-tabla-mensaje span{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media screen and (max-width: 700px) {
    .enunciado-titulo-span {
        font-size: 26px;
    }
    
    #mapContainer{
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .contenedor-list-map{
        grid-template-columns: 1fr;
    }

    .tabla-tiendas {
        margin: 0;
        padding: 0;
    }    

    .encabezado-tabla {
        font-size: 24px;
    }
    
    .cabecera-tabla th {
        padding: 0;
        font-size: 18px;
    }

    .cuerpo-tabla {
        padding: 0;
    }   
    
}

@media screen and (max-width: 240px) {
    .encabezado-tabla {
        font-size: 20px;
    }
    
    .cabecera-tabla th {
        padding: 0;
        font-size: 14px;
    }

    .cuerpo-tabla {
        padding: 0;
    }   
}