/* Fuentes 
1: font-family: 'Roboto', sans-serif; 
2: font-family: 'Indie Flower', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Variables colores */

:root {
    --color-1: #B4CFEA;
    --color-2: #A0AFC5;
    --color-3: #1916A5;
    --color-4: #110C66;
    --color-5: #6F8DAC;
    --color-6: #4D56B9;
    --color-7: #AA7278;
    --color-8: #00a2e8;
}

/* MOBILE FIRST */

/* DESKTOP */

.titulo-pasarela {
    
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    color: var(--color-8);
    text-shadow: 2px 2px 2px var(--color-1);

}

.contenedor-pasarela{
    margin: 0;
    padding: 0;
}

.contenedor-factura{
    margin: 50px 20vw;
    /* background-color: rgb(236, 235, 235); */
    border: 1px solid #000;
    text-align: center; 
    padding: 10px;  
    background-color: #B4CFEA; 
    border-radius: 10px;
}

.titulo-pasarela{
    font-size: 24;
    font-weight: 900;
}

.nombre-usuario{
    margin-top: 20px;
}

.lista-productos{
    list-style: none;
    margin: 10px 30px;
    border: 1px solid #000;
    border-radius: 10px;
}

#btn-compra {
    margin:10px;
    background-color: var(--color-5);
}

