/* Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuentes 
1: font-family: 'Roboto', sans-serif; 
2: font-family: 'Indie Flower', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Variables colores */

:root {
    --color-1: #B4CFEA;
    --color-2: #A0AFC5;
    --color-3: #1916A5;
    --color-4: #110C66;
    --color-5: #6F8DAC;
    --color-6: rgb(77, 86, 185);
    --color-7: #aa7278;
    --color-8: #00a2e8;
}

/* MOBILE FIRST */


/* DESKTOP */


.contenedorRegistro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* background-image: url(https://res.cloudinary.com/academia-geek/image/upload/v1633882475/fondo_mgmhf3.png); */
    /* background-image: url(https://res.cloudinary.com/academia-geek/image/upload/v1633884363/fondo2_hwzxht.png); */
    /* background-image: url(https://res.cloudinary.com/academia-geek/image/upload/v1633894630/fondo3_fyewmi.png); */


    /* background-image: url(https://res.cloudinary.com/academia-geek/image/upload/v1633886507/fondo3_zubgri.png);
    background-size: cover; */
    background-color: var(--color-8);
}

.formulario-registro {
    text-align: center;
}

.titulo-registrarse {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-4);
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 2px var(--color-6);
}

.cajita {
    padding-top: 50px;
    margin: auto;
    width: 300px;
}

.input-formulario {
    margin: 20px 0;
}

.boton-registrar {
    margin: 20px 0;
    padding: 4px 10px;
    font-size: 20px;
    border-radius: 8px;
    background: linear-gradient(to right, var(--color-5), var(--color-3));
    color: #fff;
    border: none;
}

.boton-registrar:hover {
    background: var(--color-7);

}

.enlace-inicio-sesion {
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    color: var(--color-4);
}

.enlace-inicio-sesion:hover {
    color: var(--color-3);
}