/* Fuentes 
1: font-family: 'Roboto', sans-serif; 
2: font-family: 'Indie Flower', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Variables colores */

:root {
    --color-1: #B4CFEA;
    --color-2: #A0AFC5;
    --color-3: #1916A5;
    --color-4: #110C66;
    --color-5: #6F8DAC;
    --color-6: #4D56B9;
    --color-7: #AA7278;
    --color-8: #00a2e8;
}

/* MOBILE FIRST */


/* DESKTOP */

/* contenedor global */
.contenedor-tienda {
    min-height: 85vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tienda-seleccionada {
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    color: var(--color-8);
    text-shadow: 2px 2px 2px var(--color-1);
}

/* Cards productos ------------------------------------------------------------------------------------------------- */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 20px;
}

.card {
    transition: all 0.4s ease-out;
    box-shadow: 4px 4px 4px #000;
    text-align: center;
}

/* contenedor img */
.contenedor-img {
    margin-top: 10px;
}

.img-producto {
    width: 20vw;
    height: 250px;
    border-radius: 16px;
    object-fit: cover;
}

.nombre-producto {
    color: var(--color-1);
    text-shadow: 2px 2px 2px var(--color-3);
}

/* contenedor descripcion */

.descripcion {
    font-weight: 900;
}

.bnt-agregar-carrito {
    background-color: var(--color-3);
    color: #fff;
    padding: 2px;
    border-radius: 8px;
}

.bnt-agregar-carrito:hover {
    background-color: var(--color-6);
}

.btn-ir-carrito {
    background-color: var(--color-5);
    color: #fff;
    padding: 2px;
    border-radius: 8px;
}

.btn-ir-carrito:hover {
    background-color: var(--color-6);
}


/*  Filtro de busqueda ------------------------------------------------------------------------------------------------------*/
.filtro-de-busqueda-productos {
    background-color: var(--color-1);
    margin: 0 250px;
    padding: 20px 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-buscar {
    width: 60%;
    height: 40px;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    color: var(--color-7);
    border-radius: 16px;
}

.input-buscar::placeholder {
    color: var(--color-7);
}

.ignore {
    visibility: hidden;
    opacity: 0;
    order: 10;
}

/* Lista personalizada --------------------------------------------------------------------------------------------------------*/
.listas-de-mercado {
    display: flex;
    justify-content: center;
}

.listas {
    margin: 0;
    padding: 0;
    text-align: center;
}

.contenedor-lista-personalizada {
    text-align: center;
    padding: 50px 0;
}

.titulo-lista-personalizada {
    text-align: center;
    font-weight: 900;
    color: var(--color-1);
    text-shadow: 4px 4px 4px var(--color-3);
}

.contenedor-tabla {
    padding: 30px 260px;
    width: 100%;
}

/* botones */
.btns-tabla-lista {
    width: 100%;
    padding: 10px 0;
}

.bnt-tabla-agregar-carrito {
    border-radius: 1em;
    padding: 0.5em;
    background-color: var(--color-6);
    color: #FFFFFF;
}

.bnt-tabla-agregar-carrito:hover {
    background-color: var(--color-3);
}

.btn-tabla-ir-carrito {
    border-radius: 1em;
    padding: 0.5em;
    background-color: #2d2;
    color: #ffffff;
}

.btn-tabla-ir-carrito:hover {
    background-color: rgb(4, 187, 4);
}

.btn-tabla-contraer {
    border-radius: 1em;
    padding: 0.5em;
    background-color: var(--color-7);
    color: #ffffff;
}

.btn-tabla-contraer:hover {
    background-color: #a56168;
}

.subtitulo-lista-personalizada {
    text-align: center;
    font-weight: 900;
    color: var(--color-2);
    text-shadow: 4px 4px 4px var(--color-4);
}

.listas-de-mercado button,
.btns-tabla-lista button {
    background-color: var(--color-6);
}

/* btn whatsapp */

.btn-whatsapp {
    position: fixed;
    bottom: 10px;
    right: 80px;
    z-index: 4000;
    opacity: 0.7;
}

.btn-whatsapp:hover {
    opacity: 1;
    height: 65px;
    cursor: pointer;
}

/* btn subir */

.boton-subir {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 4000;
    opacity: 0.7;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    background-color: var(--color-8);
}

.boton-subir span {
    font-size: 40px;
    font-weight: 900;
    color: #fff;
}

.boton-subir:hover {
    opacity: 1;
    height: 62px;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 5px;
    }

    .img-producto {
        width: 90vw;
    }

    .tienda-seleccionada{
        font-size: 30px;
    }

    .filtro-de-busqueda-productos {
        margin: 0 10px;
        padding: 5px;
    }

    .input-buscar {
        width: 100%;
        height: 40px;
        font-size: 20px;
    }    
}

@media screen and (min-width: 450px) and (max-width: 700px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5px;
    }

    .img-producto {
        width: 45vw;
    }

    .tienda-seleccionada{
        font-size: 30px;
    }

    .filtro-de-busqueda-productos {
        margin: 0 10px;
        padding: 5px;
    }

    .input-buscar {
        width: 100%;
        height: 40px;
        font-size: 20px;
    }    
}